# Ignore source code
*

#Editor
!*/.com.gexetr.gcleditor/
!*/com.gexetr.gcleditor/
!com.gexetr.gcleditor.meta

#Runtime
!.com.gexetr.gcl/
!com.gexetr.gcl/
!com.gexetr.gcl.meta

#Tests
!.com.gexetr.gcltests/
!com.gexetr.gcltests/
!com.gexetr.gcltests.meta